html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, button, input, table, caption, tbody, tfoot, thead, tr, th, td, abbr { border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
h1, h2, h3, h4, h5, h6 { line-height: normal; font-weight: normal; }
li { list-style: none; }
img { display: block; }
object, embed { display: block; }
.clear:before, .clear:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clear:after { clear: both; }
.clear { zoom: 1; }
html, body { height: 100%; } 
input, select, textarea, button { font-family: Arial, Helvetica, sans-serif; display: block; resize: none; }
body {
	background: #fff;
	color: #434345;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
}

/* Global */
a { color: #00a9df; text-decoration: none; }
a:hover { text-decoration: underline; }
#wrap { min-height: 100%; }
#container {
	overflow: auto;
	padding-bottom: 50px;
}
.wrapper {
	margin: 0 auto;
	position: relative;
	width: 1000px;
}
#content { margin-bottom: 50px; }
#main {
	float: left;
	width: 670px;
}
#main .null {
	font-family: 'PT Sans', Arial;
	font-size: 1.5em;
}
#sidebar {
	float: right;
	width: 230px;
}

/* Header */
header {
	background: #fbfbfb;
	padding-bottom: 10px;
	margin-bottom: 25px;
}
header .wrapper {
	background: url('../images/bg_dotted.png') repeat-x left bottom;
}
#logo {
	background: url('../images/bg_slash.png') no-repeat right top;
	float: left;
	height: 76px;
	margin: 10px 10px 10px 0;
	width: 94px;
}
#logo a {
	background: url('../images/logo_ai.png') no-repeat;
	display: block;
	height: 39px;
	text-indent: -9999px;
	width: 47px;
}
#project {
	float: left;
	margin-top: 15px;
}
#project h1 {
	color: #252525;
	line-height: 1;
	font-family: 'PT Sans Narrow', Arial;
	font-size: 3.5em;
	font-weight: 400;
	margin-bottom: 5px;
}
#project em {
	color: #858585;
	font-family: 'PT Sans Narrow', Arial;
	font-size: 1.6em;
	font-style: normal;
	font-weight: 400;
}
#project .projects #project_switcher {
	background: #ebebec;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebec');
	background: -webkit-gradient(linear, top, bottom, from(#fff), to(#ebebec));
	background: -moz-linear-gradient(top, #fff,  #ebebec);
	border: 1px solid #d3d3d3;
	font-size: 1.2em;
	padding: 3px 4px;
	width: 100%;
}
#utility {
	background: #93d7f0;
	float: right;
	height: 30px;
	padding: 0 15px;
}
#utility span {
	color: #666;
	display: block;
	font-family: 'PT Sans', Arial;
	float: left;
	font-size: 1.3em;
	line-height: 30px;
	margin-right: 8px;
}
#utility ul {
	float: left;
	height: 16px;
	margin-top: 7px;
}
#utility ul li {
	border-right: 1px solid #666;
	float: left;
	font-family: 'PT Sans', Arial;
	font-size: 1.3em;
	font-style: italic;
	font-weight: 700;
	line-height: 16px;
	margin-right: 8px;
	padding-right: 8px;
}
#utility ul li.last {
	border-right: 0;
	margin-right: 0; 
	padding-right: 0;
}
#utility ul li a {
	color: #333;
}

/* Login */

#login { padding-top: 150px; }
#login .logo {
	margin: 0 auto 50px;
	width: 101px;
}
#login fieldset {
	margin: 0 auto;
	width: 420px;
}
#login .field {
	margin-bottom: 10px;
}
#login .fields .field { float: left; }
#login .field label {
	color: #333;
	display: block;
	font-family: 'PT Sans', Arial;
	font-size: 1.3em;
	font-weight: 700;
	margin-bottom: 5px;
}
#login .field input {
	border: 1px solid #ccc;
	color: #333;
	font-family: 'PT Sans', Arial;
	font-size: 1.3em;
	height: 30px;
	padding: 0 6px;
	width: 186px;
}
#login .field.username { margin-right: 20px; }
#login .field.password { margin-bottom: 10px; }
#login .field.remember {
	float: right;
	height: 15px;
	margin-bottom: 0;
}
#login .field.remember input {
	float: left;
	height: 13px;
	margin: 1px 10px 0 0;
	padding: 0;
	width: 13px;
}
#login .field.remember label {
	cursor: pointer;
	float: left;
	height: 15px;
	line-height: 15px;
	font-weight: 400;
	margin-bottom: 0;
}
#login #login-button {
	background: #f4f4f4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4');
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4));
	background: -moz-linear-gradient(top,  #fff,  #f4f4f4);
	border: 1px solid #ccc;
	color: #333;
	cursor: pointer;
	float: left;
	font-family: 'PT Sans', arial;
	font-weight: 700;
	font-size: 1.6em;
	padding: 0 5px;
}

/* Home */
.home #main {
	float: none;
	margin: 0 auto;
	width: 750px;
}
.home #main .client .name {
	border-bottom: 1px solid #bcbcbc;
	height: 3em;
	line-height: 3em;
}
.home #main .client h2 {
	cursor: pointer;
	float: left;
	font-family: 'PT Sans Narrow', Arial;
	font-size: 2em;
	font-weight: 400px;
}
.home #main .client em {
	color: #666;
	float: right;
	font-family: 'PT Sans', Arial;
	font-size: 1.4em;
}
.home #main .client .projects {
	border-bottom: 1px solid #bcbcbc;
	display: none;
	padding: 1em 0;
}
.home #main .client .projects ul li {
	font-family: 'PT Sans', Arial;
	font-size: 1.4em;
}

/* Project */
.project .togglers {
	border-bottom: 1px solid #bcbcbc;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.project .togglers li {
	float: left;
	font-family: 'PT Sans Narrow', Arial;
	font-size: 2em;
	font-weight: 400;
	margin-right: 10px;
}
.project .togglers li a {
	color: #858585;
}
.project .togglers li a:hover {
	color: #434345;
	text-decoration: none; 
}
.project .togglers li a.current {
	color: #434345;
	border-bottom: 1px solid #00A9DF;
	padding-bottom: 5px;
}
.project #filter {
	background: #f9f9f9;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	height: 35px;
	margin-bottom: 25px;
	padding: 0 10px;
}
.project #filter p {
	color: #434345;
	float: left;
	font-family: 'PT Sans', Arial;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 35px;
	margin-right: 10px;
}
.project #filter .jump {
	float: left;
	margin-right: 20px;
}
.project #filter .jump form {
	float: left;
}
.project #filter .jump select {
	background: #ebebec;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebec');
	background: -webkit-gradient(linear, top, bottom, from(#fff), to(#ebebec));
	background: -moz-linear-gradient(top, #fff,  #ebebec);
	border: 1px solid #d3d3d3;
	font-size: 1.2em;
	margin-top: 6px;
	padding: 3px 4px;
	width: 200px;
}
.project #filter .view {
	float: left;
}
.project #filter .views {
	float: left;
	margin-top: 8px;
}
.project #filter .views span {
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	color: #adadad;
	cursor: pointer;
	display: block;
	float: left;
	font-family: 'PT Sans', Arial;
	font-size: 1.2em;
	font-weight: 700;
	height: 18px;
	line-height: 18px;
	padding: 0 5px 0 22px;
	text-transform: uppercase;
}
.project #filter .views span.active,
.project #filter .views span:hover {
	border-color: #636363;
	color: #636363;
}
.project #filter .views #list_toggle {
	background: url('../images/icon_list.png') no-repeat 5px center;
	margin-right: 10px;
}
.project #filter .views #list_toggle.active { background: url('../images/icon_list_active.png') no-repeat 5px center; }
.project #filter .views #grid_toggle { background: url('../images/icon_grid.png') no-repeat 5px center; }
.project #filter .views #grid_toggle.active { background: url('../images/icon_grid_active.png') no-repeat 5px center; }
.project #filter .approved {
	background: url('../images/icon_approved.png') no-repeat left center;
	display: block;
	float: right;
	font-family: 'PT Sans', Arial;
	font-size: 1.2em;
	font-weight: 700;
	line-height: 35px;
	padding-left: 22px;
}
.contentblock {
	margin-bottom: 30px;
}
.contentblock .title {
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 10px;
}
.contentblock .title h2 {
	color: #434345;
	float: left;
	font-family: 'PT Sans Narrow', Arial;
	font-size: 2em;
	font-weight: 700;
	height: 35px;
	line-height: 35px;
}
.contentblock .title .date {
	color: #999;
	float: right;
	font-family: 'PT Sans', Arial;
	font-size: 1.4em;
	font-weight: 400;
	height: 35px;
	line-height: 35px;
}
.contentblock ul li {
	font-family: 'PT Sans', Arial;
	font-size: 1.4em;
	font-weight: 700;
	margin-bottom: 5px;
}
.contentblock ul li a { color: #434345; }
.contentblock ul li ul { 
	margin-bottom: 20px;
	padding: 0 0 0 20px;
}
.contentblock ul li ul li {
	background: url(../images/bullet.gif) no-repeat left center;
	font-size: inherit; 
	padding-left: 10px;
}
.contentblock ul li ul li a { color: #00a9df; }

.contentblock ul.links li.pdf {
	background: url(../images/icon_pdf.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.doc {
	background: url(../images/icon_doc.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.fla {
	background: url(../images/icon_fla.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.generic {
	background: url(../images/icon_generic.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.gif {
	background: url(../images/icon_gif.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.html {
	background: url(../images/icon_html.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.jpg {}
.contentblock ul.links li.js {
	background: url(../images/icon_js.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.log {
	background: url(../images/icon_log.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.mov {
	background: url(../images/icon_mov.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.notes {
	background: url(../images/icon_notes.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.php {
	background: url(../images/icon_php.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.ppt {
	background: url(../images/icon_ppt.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.psd {
	background: url(../images/icon_psd.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.sql {
	background: url(../images/icon_sql.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.toggle {
	background: url(../images/icon_toggle.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.txt {
	background: url(../images/icon_txt.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.xls {
	background: url(../images/icon_xls.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.xml {
	background: url(../images/icon_xml.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock ul.links li.zip {
	background: url(../images/icon_zip.gif) top left no-repeat;
	padding-left: 20px;
}
.contentblock h3 {
	border-bottom: 1px solid #e9e9e9;
	color: #434345;
	font-family: 'PT Sans Narrow', Arial;
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1;
	margin: 10px 0;
	padding-bottom: 10px;
}
.contentblock p.desc {
	background: url('../images/icon_notes.gif') no-repeat left top;
	color: #666;
	font-family: 'PT Sans', Arial;
	font-size: 1.4em;
	font-style: italic;
	margin-bottom: 10px;
	padding-left: 20px;
}
.contentblock .thumbs .thumb {
	float: left;
	margin: 0 20px 20px 0;
	width: 210px;
}
.contentblock .thumbs .thumb.last { margin-right: 0; }
.contentblock .thumbs .thumb img {
	border: 1px solid #e9e9e9;
	margin-bottom: 5px;
}
.contentblock .thumbs .thumb p {
	color: #333;
	font-family: 'PT Sans', Arial;
	font-size: 1.2em;
	font-weight: 700;
}
.contentblock .thumbs .thumb p.approved {
	background: url('../images/icon_approved.png') no-repeat left center;
	padding-left: 22px;
}

#sidebar .contact-list {
	margin-bottom: 25px;
}
#sidebar .contact-list h3 {
	border-bottom: 1px solid #d3d3d3;
	font-family: 'PT Sans', Arial;
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#sidebar .contact-block {
	font-family: 'PT Sans', Arial;
	font-size: 1.3em;
	margin-bottom: 10px;
}
#sidebar .contact-block .contact-name { font-weight: 700; }
#sidebar .contact-block .contact-title { font-style: italic; }
#sidebar #project-links li {
	font-family: 'PT Sans', Arial;
	font-size: 1.3em;
}
#sidebar #project-links li.Basecamp a {
	background: url('../images/icon_basecamp.gif') no-repeat right center;
	padding-right: 25px;
}
#sidebar #project-links li.jira a {
	background: url('../images/icon_jira.gif') no-repeat right center;
	padding-right: 25px;
}

/* Comps */
#comp_nav {
	
}

/* Footer */
footer {
	background: #fbfbfb;
	height: 50px;
	margin-top: -50px;
	position: relative;
}
footer p {
	color: #666;
	font-family: 'PT Sans', Arial;
	font-size: 1.3em;
	line-height: 50px;
	text-align: right;
}



/* old ================================================================================= */
div#project_switcher_panel {float:right;}

.flr { float: right; }
.fll { float: left; }
.clrb { clear: both; }
.inactive { text-decoration: line-through; }

	#maincontent .content h2 a:hover {
		color: #1e99c8;
	}
	#maincontent .content h2.active a { background-position: right 11px; }
	#maincontent .client .head p.pm {
		float: right;
		color: #6c6565;
		font-style: italic;
		font-size: 1.2em;
		margin: 1px 0 0 0;
	}
#maincontent .content ul { 
	padding: 1.0em 0 2.0em 0; 
	list-style: none;
   }
	 #maincontent .content ul li {
		font-size: 1.3em;
		overflow: hidden;
		margin: 0 0 5px 0;
	}
	#maincontent .content ul li a {
		background: transparent url(/static/images/icon/arrows.png) no-repeat left 3px;
		float: left;
		padding: 0 0 0 14px;
	}
		#maincontent .content ul li a:hover { color: #1e99c8; }
#maincontent div.projects {
	border-bottom: 1px solid #dadada;
	
}
	#maincontent div.projects ul {
		padding: 15px 0 10px 0;
	}

/*
#overlay {
	background: #f00;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
*/

#edit_slide {
	width: 867px;
	position: absolute;
	z-index: 100;
	top: 300px;
	left: 13px;
	background: url(/static/images/admin/box_body.png) bottom no-repeat;
}
	#edit_slide .header {
		background: url(/static/images/admin/box_header.png) no-repeat;
		height: 12px;
		margin-top: -12px;
	}
		#edit_slide .header a.close {
			width: 24px;
			height: 25px;
			background: url(/static/images/admin/box_close.png) no-repeat;
			position: absolute;
			right: -3px;
			top: -16px;
			text-indent: -9000px;
		}
		#edit_slide .header a.close:hover {
			background-position: 0 -25px;
		}
	#edit_slide .wrap {
		width: 823px;
		margin: 15px auto 20px;
	}
		#edit_slide h2 {
			color: #494949;
			font-size: 1.8em;
			border-bottom: 1px solid #ccc;
			padding-bottom: 0.4em;
		}
		#edit_slide input {
			border-width: 1px;
			border-style: solid;
			border-color: #7c7c7c #c3c3c3 #ddd #c3c3c3;
			background-image: url(/static/images/admin/bg_input.png);
			background-position: 0 0;
			color: #494949;
			font-size: 1.1em;
			padding: 3px;
		}
		#edit_slide #group_properties {
			background: #eee;
			padding: 14px;
		}
		#edit_slide #slide_properties {
			padding: 14px;
		}
			#slide_properties h2 {
			}
				#slide_properties h2 span.note {
					font-size: 0.65em;
					padding-left: 0.2em;
					color: #aaa;
				}
			#slide_properties table {
				width: 100%;
			}
				#slide_properties col.activity {
					width: 42px;
				}
				#slide_properties col.title {
					width: 294px;
				}
				#slide_properties col.image {
					width: 94px;
				}
				#slide_properties col.background {
					width: 125px;
				}
				#slide_properties col.alignment {
					width: 114px;
				}
				#slide_properties col.approval {
					width: 90px;
				}
				#slide_properties col.remove {
				
				}
				#slide_properties th {
					border-bottom: 1px solid #dbdbdb;
					padding: 0.6em 0;
				}
					#slide_properties th h3 {
						color: #494949;
						font-weight: bold;
						font-size: 1.1em;
					}
				#slide_properties th.activity h3, #slide_properties th.remove h3 {
					visibility: hidden;
				}
				#slide_properties td {
					padding: 8px 0;
					border-bottom: 1px solid #dbdbdb;
				}
				#slide_properties td.activity {
				
				}
					#slide_properties td.activity label {
						background-image: url(/static/images/admin/icons.png);
						background-position: 0 -50px;
						display: block;
						width: 16px;
						height: 15px;
						position: relative;
						top: 3px;
						margin: auto;
					}
					#slide_properties td.activity label.selected {
						background-position: 0 0px;
					}
						#slide_properties td.activity label span {
							display: none;
						}
						#slide_properties td.activity label input {
							display: none;
						}
				#slide_properties td.title {
				
				}
					#slide_properties td.title input {
						width: 75%;
					}
				#slide_properties td.image {
				
				}
				#slide_properties td.background {
				
				}
				#slide_properties td.alignment {
				
				}
				#slide_properties td.approval {
				
				}
				#slide_properties td.remove {
				
				}
					#slide_properties td.remove a {
						display: block;
						text-indent: -9000px;
						background-image: url(/static/images/admin/icons.png);
						background-position: 0 -100px;
						width: 11px;
						height: 11px;
						margin: auto;
					}
		#edit_slide .controls {
			overflow: auto;
			padding: 15px;
		}
			#edit_slide .controls a.add {
				float: left;
				display: block;
				background: url(/static/images/admin/button_add.png) no-repeat;
				text-indent: -9000px;
				width: 139px;
				height: 26px;
			}
			#edit_slide .controls a.add:hover {
				background-position: 0 -26px;
			}
			#edit_slide .controls a.cancel {
				float: right;
				font-size: 1.4em;
				color: #9e9e9e;
				margin-left: 15px;
				text-decoration: underline;
				line-height: 24px;
			}
			#edit_slide .controls a.cancel:hover {
				color: #494949;
			}
			#edit_slide .controls a.done {
				float: right;
				display: block;
				width: 82px;
				height: 26px;
				margin-left: 15px;
				background: url(/static/images/admin/button_done.png) no-repeat;
				text-indent: -9000px;
			}
			#edit_slide .controls a.done:hover {
				background-position: 0 -26px;
			}


@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}