{% extends check %}

{% block page_title %} 
	Clients : Projects
{% endblock %}

{% block body_class %}client{% endblock %}

{% block section_js %}
		<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/dropdown.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/staging.js"></script>
{% endblock %}

{% block title %}
	{{ client.name }}
{% endblock %}

{% block content %}
<div id="main" class="clear">

	{% include "includes/header.html" %}

	{% if client %}
	<div class="projects">
		<h2>Projects</h2>
		{% if client.projects %}
		<ul>
			{% for project in client.projects.all %}
			{% if project.active %}
			<li><a href="/client/{{ client.path }}/{{ project.path }}/#{{ project.default_category }}">{{ project.name }}</a></li>
			{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	{% endif %}
</div>

<div id="sidebar">
	{% include "includes/info.html" %}
</div>

{% endblock %}