{% extends check %}

{% block page_title %} 
	Clients : Projects
{% endblock %}

{% block section_js %}
	<script type="text/javascript" src="{{ MEDIA_URL }}/static/js/landing.js"></script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
<div id="main">
	{% if clients %}
		{% for client in clients %}
		<div class="client">
			<div class="name clear">
				<h2>{{ client.name }}</h2>
				<em>{{ client.contact.first_name }} {{ client.contact.last_name }}</em>
			</div>
			{% if client.projects %}
			<div class="projects">
				<ul>
					{% for project in client.projects.all %}
					<li><a href="/client/{{ client.path }}/{{ project.path }}/#{{ project.default_category }}">{{ project.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock %}