{% extends check %}
{% block page_title %} 
	{{ project.client.name }} : {{ project.name }}
{% endblock %}

{% block section_js %}
<script type="text/javascript" src="/static/js/dropdown.js"></script>
<script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="/static/js/project.js"></script>	
{% if user.is_staff %}
	<script type="text/javascript" src="/static/js/admin_overlay.js"></script>
{% endif %}
	
<script type="text/javascript">
	
// function to initialize page
$(function() {
	// The first category tab is shown on page load. Fill the dropdown accordingly.
	fillDropdown('{{ project.categories.all.0.name|slugify }}', '{{choice}}');
	// show the list or grid section divs based on the user's viewing preference
	// the last selected view was placed in the database and is remembered as the preferred view
	if ("{{choice}}"==="grid"){
		show('#grid_section', '#list_section');}
	else {show('#list_section', '#grid_section');}
	// global vars
	VAR_CHOICE = '{{choice}}';
	VAR_CURRENT_SECTION = '#{{choice}}_1';
	
	// categories using jquery tools - tabs
	$("ul.togglers").tabs("div.panes{{choice}} > div");
	
	generateClickEvents();
	$('#list_toggle').click(function(){
		show_ajax('list', '{{client}}','{{project.path}}', '#list_section', '#grid_section');
		$('#list_toggle').addClass("active");
		$('#grid_toggle').removeClass("active");
	});
	$('#grid_toggle').click(function(){
		show_ajax('grid', '{{client}}','{{project.path}}', '#grid_section', '#list_section');
		$('#grid_toggle').addClass("active");
		$('#list_toggle').removeClass("active");
	});
	$('#select_section').change(function(){
		selectSection($(this).val());
	});
});

// place sections in the dropdown given the selected category
function fillDropdown(categoryName, choice){
	VAR_CURRENT_CATEGORY = categoryName;
	{% for rollup in project.category_rollups %}	
		if('{{ rollup.category.name|slugify }}'== categoryName){
			removeAllOptions(document.dropdownform.sections);
			{% for section in rollup.sections %}
				{% if forloop.first %}
					VAR_CURRENT_SECTION = '#'+choice+'_1';
				{% endif %}
				addOption(document.dropdownform.sections, '{{section.name}}', '#'+choice +'_{{forloop.counter}}');
			{% endfor %}
		}
	{% endfor %}				
}

// generate an on-click event for each category tab
function generateClickEvents(){	
	{% for category in project.categories.all %}
		$('#{{category.name|slugify}}_tab').click(function(){
			fillDropdown('{{ category.name|slugify}}', VAR_CHOICE);
			return false;			
	});
	{% endfor %}
}

</script>
{% endblock %}

{% block title %}{{ client.name }} {% endblock %}
{% block description %}{{ project.name }} {% endblock %}

{% block body_class %}project{% endblock %}

{% block header_extra %}
	{% include "includes/header.html" %}
{% endblock %}

{% block content %}
<div id="main">
	{% if project.categories.all %}
		<ul class="togglers clear">
			<!-- show all active categories. If user is staff show inactive categories also with css class 'inactive' -->
			{% for category in project.categories.all %}	
				{% if category.active or user.is_staff %}								
					<li><a id="{{category.name|slugify}}_tab" 
					class="tab 
				{% endif %}
				{% if not category.active and user.is_staff %}	inactive {% endif %}
				{% if category.active or user.is_staff %}
					"
					href="#{{ category.name|slugify }}"
					
					title="{{ category.name }}">{{ category.name }}
					</a></li>
				{% endif %}
			{% endfor %}
		</ul>

		<div id="filter" class="clear">
			<div class="jump clear">
				<p>Jump to</p>
				<form  name="dropdownform" >
					{% csrf_token %}
					<select name="sections" id='select_section' >
						
					</select>
				</form>
			</div>
			<div class="view clear">
				<p>View by</p>
				<div class="views clear">
					<span id="list_toggle" class="active">List</span>
					<span id="grid_toggle">Grid</span>
				</div>
			</div>
			<span class="approved">Approved Design<span>
		</div>
								
			<div id ="list_section">
			
				{% include 'list_view.html' %}
			</div>
				<div id ="grid_section">
				
					{% include 'grid_view.html' %}
				</div> 
				
		{% else %}		
		<p class="null">No categories have been associated with this project yet.</p>
		{% endif %}

</div>

<div id="sidebar">

	{% block project_links %}
	{% if project.links.all %}
		<div class="contact-list" id="project-links">
			<h3>Project Resources</h3>
			<ul>
				{% for link in project.links.all %}
					<li class="{{ link.name }}"><a onclick="window.open(this.href);return false;" href="{{ link.link }}">{{ link.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% endblock %}

	{% if project.ai_contacts %}
		<div class="contact-list" id="ai-contacts">
			<h3>A<span>i</span> Contacts</h3>
			{% for contact in project.ai_contacts %}
				{% include "contact.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% if project.client_contacts %}
		<div class="contact-list" id="client-contacts">
			<h3>Client Contacts</h3>
			{% for contact in project.client_contacts %}
				{% include "contact.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% include "includes/info.html" %}
</div>

{% endblock %}